<html>
	<head>
		<meta charset="UTF-8">
		<title> AIMS SUPERSTORE </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='register_temp.css') }}">
	</head>
	<body></br></br>
		<div align="center">
		<div align="center" class="border">
			<div align="center" class="header">
				<h1 class="word">Forgot Password?</h1>
			</div></br>
			<h2 class="word">
				<form action="{{ url_for('forgot_password') }}" method="post">
				<div class="msg">(*) represents required fields</div></br>
				<div class="msg">{{ msg }}</div></br>
					<input id="email" name="email" type="text" placeholder="Email ID *" class="textbox"/></br></br>
					<input id="password" name="password" type="password" placeholder="New Password *" class="textbox"/></br></br>
					<input type="submit" class="btn" value="Submit!"></br>
				</form>
			</h2>
		<p class="bottom">Don't have an account? <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>
		</div>
		</div>
	</body>
</html>


	
				
