<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>inventory</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='inventory_temp.css') }}">
	</head>
	<body>
		<h1 align="center">INVENTORY TABLE</h1></br></br>
		<table align="center">
			<thead>
				<tr style = "background-color:#FA8D82  ;color:#90180C ;">                      
					<th>PRODUCT ID</th>          
					<th>PRODUCT NAME</th>
					<th>UNIT PRICE(INR)</th>
					<th>CATEGORY</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>A1</td>  
					<td>Refrigerator</td>
					<td>45000</td>
					<td>Appliances</td>
				</tr>
				<tr>
					<td>A2</td>  
					<td>Television</td>
					<td>30000</td>
					<td>Appliances</td>					
				</tr>
				<tr>
					<td>A3</td>  
					<td>Microwave</td>
					<td>16500</td>
					<td>Appliances</td>					
				</tr>
				<tr>
					<td>A4</td>  
					<td>Air Conditioner</td>
					<td>34500</td>
					<td>Appliances</td>					
				</tr>
				<tr>
					<td>A5</td>  
					<td>Washing Machine</td>
					<td>11500</td>
					<td>Appliances</td>					
				</tr>
				<tr>
					<td>A6</td>  
					<td>Toaster</td>
					<td>1800</td>
					<td>Appliances</td>					
				</tr>
				<tr>
					<td>B1</td>  
					<td>Beverages</td>
					<td>25</td>
					<td>Grocery</td>					
				</tr>
				<tr>
					<td>B2</td>  
					<td>Dairy And Eggs</td>
					<td>45</td>
					<td>Grocery</td>					
				</tr>
				<tr>
					<td>B3</td>  
					<td>Frozen Food</td>
					<td>250</td>
					<td>Grocery</td>					
				</tr>
				<tr>
					<td>B4</td>  
					<td>Fruits And Vegetables</td>
					<td>55</td>
					<td>Grocery</td>					
				</tr>
				<tr>
					<td>B5</td>  
					<td>Meat</td>
					<td>450</td>
					<td>Grocery</td>					
				</tr>
				<tr>
					<td>B6</td>  
					<td>Bread</td>
					<td>30</td>
					<td>Grocery</td>					
				</tr>
				<tr>
					<td>B7</td>  
					<td>Oil And Fats</td>
					<td>225</td>
					<td>Grocery</td>					
				</tr>
				<tr>
					<td>B8</td>  
					<td>Condiments</td>
					<td>65</td>
					<td>Grocery</td>					
				</tr>
				<tr>
					<td>C1</td>  
					<td>Puzzles</td>
					<td>175</td>
					<td>Toys</td>					
				</tr>
				<tr>
					<td>C2</td>  
					<td>Soft Toys</td>
					<td>225</td>
					<td>Toys</td>					
				</tr>
				<tr>
					<td>C3</td>  
					<td>Games</td>
					<td>425</td>
					<td>Toys</td>					
				</tr>
				<tr>
					<td>C4</td>  
					<td>Dolls</td>
					<td>650</td>
					<td>Toys</td>					
				</tr>
				<tr>
					<td>C5</td>  
					<td>Spinning Toys</td>
					<td>85</td>
					<td>Toys</td>					
				</tr>
				<tr>
					<td>C6</td>  
					<td>Action Figures</td>
					<td>220</td>
					<td>Toys</td>					
				</tr>
				<tr>
					<td>D1</td>  
					<td>Woollen</td>
					<td>800</td>
					<td>Clothes</td>					
				</tr>
				<tr>
					<td>D2</td>  
					<td>Undergarments</td>
					<td>225</td>
					<td>Clothes</td>					
				</tr>
				<tr>
					<td>D3</td>  
					<td>Sports Wear</td>
					<td>500</td>
					<td>Clothes</td>					
				</tr>
				<tr>
					<td>D4</td>  
					<td>Casual Wear</td>
					<td>300</td>
					<td>Clothes</td>					
				</tr>
				<tr>
					<td>D5</td>  
					<td>Loungewear And Sleepwear</td>
					<td>350</td>
					<td>Clothes</td>					
				</tr>
				<tr>
					<td>D6</td>  
					<td>Blazers And Suits</td>
					<td>1550</td>
					<td>Clothes</td>					
				</tr>
				<tr>
					<td>D7</td>  
					<td>Shoes</td>
					<td>350</td>
					<td>Clothes</td>					
				</tr>
				<tr>
					<td>E1</td>  
					<td>Cutlery</td>
					<td>25</td>
					<td>Home</td>					
				</tr>
				<tr>
					<td>E2</td>  
					<td>Mug</td>
					<td>30</td>
					<td>Home</td>					
				</tr>
				<tr>
					<td>E3</td>  
					<td>Plate</td>
					<td>50</td>
					<td>Home</td>					
				</tr>
				<tr>
					<td>E4</td>  
					<td>Pot</td>
					<td>75</td>
					<td>Home</td>					
				</tr>
				<tr>
					<td>E5</td>  
					<td>Pan</td>
					<td>100</td>
					<td>Home</td>					
				</tr>				
				</tr>
				<tr>
					<td>E6</td>  
					<td>Bedsheet</td>
					<td>120</td>
					<td>Home</td>					
				</tr>
				<tr>
					<td>E7</td>  
					<td>Keychain</td>
					<td>20</td>
					<td>Home</td>					
				</tr>
				<tr>
					<td>E8</td>  
					<td>Magnet</td>
					<td>30</td>
					<td>Home</td>					
				</tr>
				<tr>
					<td>E9</td>  
					<td>Bottle</td>
					<td>50</td>
					<td>Home</td>					
				</tr>
				<tr>
					<td>E10</td>  
					<td>Bulb</td>
					<td>65</td>
					<td>Home</td>	
				</tr>
				<tr>
					<td>F1</td>  
					<td>Face Wash</td>
					<td>55</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F2</td>  
					<td>Face Cream</td>
					<td>50</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F3</td>  
					<td>Powder</td>
					<td>35</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F4</td>  
					<td>Shampoo</td>
					<td>100</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F5</td>  
					<td>Conditioner</td>
					<td>200</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F6</td>  
					<td>Body Lotion</td>
					<td>120</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F7</td>  
					<td>Comb</td>
					<td>25</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F8</td>  
					<td>Lip balm</td>
					<td>55</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F9</td>  
					<td>Nail Polish</td>
					<td>55</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F10</td>  
					<td>Lip stick</td>
					<td>100</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F11</td>  
					<td>Wet wipes</td>
					<td>100</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>F12</td>  
					<td>Deodrant</td>
					<td>55</td>
					<td>Beauty</td>					
				</tr>
				<tr>
					<td>G1</td>  
					<td>Hairband</td>
					<td>20</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>G2</td>  
					<td>Ear ring</td>
					<td>25</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>G3</td>  
					<td>Nose rings</td>
					<td>10</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>G4</td>  
					<td>Make-Up brushes</td>
					<td>500</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>G5</td>  
					<td>Rings</td>
					<td>20</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>G6</td>  
					<td>Bracelets</td>
					<td>20</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>G7</td>  
					<td>Purses</td>
					<td>200</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>G8</td>  
					<td>Belts</td>
					<td>85</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>G9</td>  
					<td>Anklets/td>
					<td>20</td>
					<td>Accessories</td>
				<tr>
					<td>G10</td>  
					<td>Shoes</td>
					<td>500</td>
					<td>Accessories</td>					
				</tr>
				<tr>
					<td>H1</td>  
					<td>Toothbrush</td>
					<td>25</td>
					<td>Toiletries</td>					
				</tr>
				<tr>
					<td>H2</td>  
					<td>Toothpaste</td>
					<td>55</td>
					<td>Toiletries</td>					
				</tr>
				<tr>
					<td>H3</td>  
					<td>Razor</td>
					<td>45</td>
					<td>Toiletries</td>					
				</tr>
				<tr>
					<td>H4</td>  
					<td>Blades</td>
					<td>45</td>
					<td>Toiletries</td>					
				</tr>
				<tr>
					<td>H5</td>  
					<td>Shaving cream</td>
					<td>65</td>
					<td>Toiletries</td>					
				</tr>
				<tr>
					<td>H6</td>  
					<td>Toilet Paper</td>
					<td>50</td>
					<td>Toiletries</td>					
				</tr>
				<tr>
					<td>H7</td>  
					<td>Washing Powder</td>
					<td>200</td>
					<td>Toiletries</td>					
				</tr>

			</tbody>
		</table>
		<h3 align="center">HELPLINE NUMBERS		:		8451888481			9819918701</h3>
		<a href="{{ url_for('home') }}" class="btn">Home</a>
		<a href="{{ url_for('logout') }}" class="btn">Logout</a></br></br></br>
		</div>
		</div>
	</body>
</html>