			body{
  					background-image: url("register_b.jpeg");
			}

			.header{
				padding: 5px 120px;
				width: 200px;
				height: 100px;
				background-color: #C519AD;
                border-radius: 10px;
				font-family: sans-serif;
				font-size:10px;
			}
		
			.border{
				padding: 80px 50px;
				width: 400px;
				height: 700px;
				border: 1px solid #330000;
				border-radius: 10px;
				background-color: #FFCCE5;
			}

			.btn {
				padding: 10px 40px;
				background-color: #C519AD;
				color: #FFFFFF;
				font-family: 'Trebuchet MS', sans-serif;
				font-weight: bold;
				border-radius: 10px;
			}

			.textbox{
				padding: 10px 40px;
				background-color: #CC0066;
				text-color: #FFFFFF;
				border-radius: 10px;
			}
				
			::placeholder {
				color: #FFFFFF;
				opacity: 1;
				font-family: 'Trebuchet MS', sans-serif;
				font-weight: bold;
			}

			.word{
				color: #FFFFFF;
				font-family: Georgia;
				font-size:175%;
			}

			.bottom{
				color: #330019;
				font-family: 'Trebuchet MS', sans-serif;
				font-weight: bold;
			}
			.msg{
				font-family: Helvetica, Arial, sans-serif;
				font-size:80%;
				color: #000000;
			}